<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gruppe10KVprototype</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="@Url.Content("~/Images/LogoKartverket.png")" alt="Kartverket Logo" />
                </a>

                <div id="navbar-menu">
                    <ul class="navbarlist">
                        <li><a class="nav-link" asp-controller="Home" asp-action="Index">Hjem</a></li>
                        <li><a class="nav-link" asp-controller="LoggInn" asp-action="LoggInn">Logg inn</a></li>
                        <li class="dev-dropdown">
                            <button class="dev-button">Utvikling</button>

                            <div class="dev-dropdown-content">
                                <div class="dropdown-section">
                                    <strong>Saksbehandler</strong>
                                </div>
                                <a href="@Url.Action("LandingsSideSaksB", "LandingsSideSaksB")">Landingsside</a>
                                <a href="@Url.Action("OversiktAlleInnmeldingerSaksB", "OversiktAlleInnmeldingerSaksB")">Oversikt alle innmeldinger</a>
                                <a href="@Url.Action("KartvisningAlleInnmeldingerSaksB", "KartvisningAlleInnmeldingerSaksB")">Kartvisning</a>
                                <a href="@Url.Action("LoggInnSaksB", "LogginnSaksB")">LoggInn</a>

                                <div class="dropdown-section">
                                    <strong>Innmelder</strong>
                                </div>
                                <a href="@Url.Action("RegistrerDeg", "RegistrerDeg")">Registrer deg</a>
                                <a href="@Url.Action("OppdatereInnmelding", "OppdatereInnmelding")">Oppdater innmelding</a>
                                <a href="@Url.Action("LandingsSide", "LandingsSide")">Landingsside</a>
                                <a href="@Url.Action("MineInnmeldinger", "MineInnmeldinger")">Mine Innmeldinger</a>
                                <a href="@Url.Action("BidraTilKartforbedring", "BidraTilKartForbedring")">Bidra til kartforbedringer</a>
                                <a href="@Url.Action("SporKartfeil", "SporKartfeil")">GPS for feilmarkering</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div class="footer-content">
            &copy; 2024 - Gruppe10KVprototype - <a href="@Url.Action("Privacy", "Home")">Personvern</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
