@model Models.IncidentForm

@{
    ViewData["Title"] = "Form Result";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/form-styles.css" />
</head>


<h1>Form Result</h1>
<div class="form-container">
    <h2>SUBJEKT</h2>
    <p>@Model.Subject</p>

    <h2>TEGNING PÅ KARTET</h2>
    <p>@Model.GeoJson</p> <!-- Viser GeoJSON-data -->

    <h2>FARLIG FOR UTTRYKNINGSETATER</h2>
    <p>@(Model.Uttrykning ? "Ja" : "Nei")</p>

    <h2>NOE Å HUKE AV</h2>
    <p>@(Model.Something ? "Ja" : "Nei")</p>

    <h2>LEGG VED FIL</h2>
    <p>@(Model.AttachFile ? "Ja" : "Nei")</p>

    <h2>BESKRIV AVVIK</h2>
    <p>@Model.Description</p>
    
    <div class="button-group">
        <a asp-controller="FormUpdate" asp-action="FormUpdate" class="primary-button">Send inn melding om feil</a>
    </div>
</div>
