@model ViewModels.SaksbehandlerSingelInnmeldingViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Rapport</title>
</head>
<body>
<h1>Lene Olsen</h1>
<h1>- har drept skjelettet</h1>
    <h1>nb! databasen har bare 9 oppføringer</h1>

    @if (Model != null)
    {
        <form asp-action="InnmeldingSaksbehandlerView" method="post">
            <div>
                <label for="Innmelding_InnmeldID">Innmeldings ID:</label>
                <input type="number" asp-for="Innmelding.InnmeldID" required />
                <button type="submit">Hent Innmelding</button>
            </div>

            @if (Model.Innmelding != null)
            {
                @if (Model.Innmelding.InnmeldID > 0)
                {
                    <div>
                        <h2>Innmelding Detaljer:</h2>
                        <p>InnmeldID: @Model.Innmelding.InnmeldID</p>
                        <p>InnmelderID: @Model.Innmelding.InnmelderID</p>
                        <p>Innmeldingstidspunkt: @Model.Innmelding.Innmeldingstidspunkt</p>
                        <p>Nåværende Status: @Model.Innmelding.StatusID</p>
                        <p>SaksbehandlerID: @(Model.Innmelding.SaksbehandlerID ?? 0)</p>
                        <p>Siste Endring: @Model.Innmelding.SisteEndring</p>
                        <p>KommuneNR: @Model.Innmelding.KommuneNR</p>
                        <p>Prioritet: @Model.Innmelding.PrioritetID</p>
                        <p>KartID: @Model.Innmelding.KartID</p>

                        <div>
                            <form asp-action="UpdateStatusAsync" method="post">
                                <input type="hidden" asp-for="Innmelding.InnmeldID" />
                                <label for="status">Velg status:</label>
                                <select asp-for="Innmelding.StatusID" asp-items="Model.StatusList" class="form-control"></select>
                                <button type="submit" class="btn btn-primary">Oppdater status</button>
                            </form>
                        
                        
                            </div>
                    </div>
                }
                else
                {
                    <p>Ingen innmelding funnet med den angitte ID.</p>
                }
            }
        </form>
    }
    else
    {
        <p>Modellen er null. Vennligst kontakt systemadministrator.</p>
    }
</body>
</html>
