<link rel="stylesheet" href="~/css/style.css"/>


@{
    ViewData["Title"] = "Home Page";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kartverket index</title>
</head>

<body class="Index">

<div class="posterPage">
    <div class="innmeldCard">
        <h1>Hei!</h1>
        <div class="cardText">Er du en flittig turgåer og irriterer deg grønn over feil og mangler i turstien din?</div>
        <a href="@Url.Action("MapView", "Home")" class="Button-MeldInn">Meld inn feil</a>
    </div>
</div>
    <div style="background-color: white; display: flex; gap: 3em;">
        <a href="@Url.Action("LandingPage", "Saksbehandler")">Landing Page Saks</a>
        <a href="@Url.Action("InnmeldingSaksbehandlerView", "SaksbehandlerInnmelding")">Single Page Saks</a>
        <a href="@Url.Action("OversiktInnmeldingerSaksbehandler", "Saksbehandler")">Alle Innmeldinger</a>
        <a href="@Url.Action("InnloggingSaksbehandler", "Saksbehandler")">Logg inn</a>
        <a href="@Url.Action("SortereInnmeldinger", "Saksbehandler")">Sortere Innmeldinger</a>
        <a href="@Url.Action("SøkInnmelderSaksbehandler", "Saksbehandler")">Søke etter innmelder</a>

    </div>
</body>