@model IEnumerable<Models.Entities.InnmeldingModel>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OversiktAlleInnmeldingerSaksB</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>


<main>
    <h1>Oversikt over alle innmeldinger</h1>
    
    <table>
        <thead>
        <tr>
            <th>INNMELDING ID</th>
            <th>TITTEL</th>
            <th>INNMELDER ID</th>
            <th>PRIORITET</th>
            <th>STATUS</th>
            <th>SISTE ENDRING</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var innmelding in Model)
            {
                <tr>
                    <td>@innmelding.InnmeldingId</td>
                    <td>@innmelding.Tittel</td>
                    <td>@innmelding.InnmelderId</td>
                    <td>@innmelding.Prioritet</td>
                    <td>@innmelding.Status</td>
                    <td>@innmelding.SisteEndring.ToString("dd.MM.yyyy HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
</main>


</body>
</html>